################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/.vs/SummerPracticeWebApi/FileContentIndex
/.vs/Prihodi-Razhodi/v17
