.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-panel {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff5f5;
    border: 1px solid #e9dada;
    align-items: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    align-items: stretch;
}

.amount-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: #fff5f5;
    border: 1px solid #e9dada;
    gap: 1rem;
}

.icon {
    font-size: 6rem;
    font-weight: bold;
    color: #ff6d6d;
    margin-right: 2rem;
    margin-left: 2rem;
}

.amount-info .label {
    font-size: 2rem;
    color: #555;
    font-weight: 600;
}

.amount-info .amount {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.goal-section {
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: #fff5f5;
    border: 1px solid #e9dada;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-section h2,
.transactions-section h2 {
    margin-bottom: 1rem;
    color: #555;
    text-align: center;
}

.pie {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-pie {
    width: 4rem;
    height: 4rem;
    transition: background 0.5s ease;
    background: #fff5f5 !important;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-text {
    color: #ff6d6d;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
}

.transactions-section {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff5f5;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 600px;
}

.transactions-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transactions-section li,
.transaction-entry {
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    border-radius: 8px;
    border: 1px solid #e9dada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}


.transaction {
    display: none;
}

.transaction .merchant {
    text-decoration: underline;
    color: #333;
}

.amount.positive {
    color: green;
    font-weight: bold;
}

.amount.negative {
    color: red;
    font-weight: bold;
}

#entriesList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

#entriesList li button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

#entriesList li span {
    flex-grow: 1;
}
